.gameinfo {
    padding-top: 5px;
    font-weight: bold;
    font-size: 15px;
}

p {
    display: inline;
    word-wrap: break-word;
}

.generic-string1 {
    color: #ffffff;
    font-family: Century Gothic, serif;
}

.turn-string {
    color: #8c8c8c;
    font-size: 14px;
    font-family: Century Gothic, serif;
}



#player-one-active {
    color: #219ebc;
    font-family: Century Gothic, serif;
}

#player-two-active {
    color: #ffb703;
    font-family: Century Gothic, serif;
}

#observer-active {
    color: #ffffff;
    font-family: Century Gothic, serif;
}