nav {
    height: 40px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid grey;
    display: grid;
    place-items: center;
}
  
nav h1 {
    margin: 0;
    font-family: Georgia, serif;
    color: white;
    font-size: 32px;
}
  