[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project/skrabble/server/proj_skrabble
ExecStart=/home/ubuntu/project/pyenv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          proj_skrabble.wsgi:application

[Install]
WantedBy=multi-user.target
