.board {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.board-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
}