#big {
    width: 70px;
}

.key {
    width: 40px;
    height: 60px;
    margin: 3px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 15px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
