.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

.game {
  width: 100vw;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}


#player-one {
  background-color: #064663;
}

#player-two {
  background-color: #e49d3a;
}

#cursor {
  border: 1px solid #E6BA95;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}


#disabled {
  background-color: #3a393c;
}