.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

.game {
  margin: 0;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  overflow: hidden;
}

#cursor {
  border: 1px solid #E6BA95;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}